<?xml version="1.0"?>

<robot name="smart_arm"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">
    
    <!-- Included URDF Files -->
    <include filename="$(find smart_arm_desc)/smart_arm_desc.xacro" />
    <include filename="$(find smart_arm_desc)/effector_desc.xacro" />

    <link name="world_link">
    </link>
    
    <smart_arm parent="world_link">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </smart_arm>
    <end_effector parent="arm_wrist_roll_link"/>
</robot>
