<launch>
	<param name="serverNameOrIP" value="windle" />
	<group ns="/head/kinect2">
		<node name="startRGB" pkg="k2_client" type="startRGB"/>
		<node name="startDepth" pkg="k2_client" type="startDepth"/>
		<node name="startIR" pkg="k2_client" type="startIR"/>
		<node name="startBody" pkg="k2_client" type="startBody"/>
		<node name="startAudio" pkg="k2_client" type="startAudio"/>

		<node name="record" pkg="rosbag" type="record" args="-O test_data --limit=10 rgb/image_color depth/image_raw ir/image_ir"
		/>
	</group>

	
</launch>