<launch>
	<param name="serverNameOrIP" value="windle" />
		<group ns="/head/kinect2">
		<node name="startRGB" pkg="k2_client" type="startRGB"/>
		<node name="startDepth" pkg="k2_client" type="startDepth"/>
		<node name="startIR" pkg="k2_client" type="startIR"/>
		<node name="startBody" pkg="k2_client" type="startBody"/>
		<node name="startAudio" pkg="k2_client" type="startAudio"/>
		</group>

  <node pkg="depth_view" type="depth_view.py" name="depth_view">
		<remap from="image" to="head/kinect2/depth/image_raw" />
		<param name="window_name" value="Depth image" />
	</node>
</launch>
